#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: lightblue;
}

#header > h1 {
    font-size: 30px;
    margin: 10px;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}